.fs-xs,
.fs-sm,
.fs-md {
  line-height: 1.5rem;
}

.fs-xs {
  font-size: .75rem;
}

.fs-sm {
  font-size: .87rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg,
.fs-xl {
  line-height: 2rem;
}

.fs-lg {
  font-size: 1.25rem;
}

.fs-xl {
  font-size: 1.5rem;
}

.fs-big {
  font-size: 2.5rem;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: normal;
}

.fw-450 {
  font-weight: bold;
}
