$content-bg-color: #fff;

$content-foot-bg-color: #efefef;

.content {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16);
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  $this: &;

  &__head,
  &__body,
  &__foot {
    background-color: $content-bg-color;
    padding: 1.5rem 1.5rem .5rem;

    &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    &:last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }

  &__head {
    overflow: hidden;
  }

  &__body {
    flex-grow: 1;

    + #{$this}__body {
      box-shadow: inset 0 1px 0 0 #efefef;
    }

    $this: &;

    &--comun {
      min-height: 1rem;
    }
  }

  &__foot {
    background-color: $content-foot-bg-color;
  }
  
  @media only screen and (min-width: 768px) {
    .content__body--comun {
      min-height: 65.5rem;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .content__body--comun {
      min-height: 57rem;
    }
  }
  
  @media only screen and (min-width: 1280px) {
    .content__body--comun {
      min-height: 48.5rem;
    }
  }
}
