$header-border-color: #fff;
$header-txt-color: #000;

.header {
  height: 6rem;
  transition: height .3s;

  $this: &;

  &--pill {
    height: 3.5rem;

    #{$this}__float {
      position: fixed;
      top: 0;
    }
  }

  &__float {
    box-shadow: 0 2px 0 0 $header-border-color;
    position: absolute;
    width: 100%;
  }

  &__bar {
    display: flex;
  }

  &__pre {
    display: flex;
    flex-grow: 2;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: .6rem;

  }

  &__sea {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: nowrap;
    justify-content: flex-end;

    $this: &;

    &--margin {
      margin-bottom: 1rem;
      margin-top: .75rem;
    }

  }

  // &__sea:hover .header__search--visib {
  //   display: block;
  // }

  &__menu {

    $this: &;

    &--bt {
      display: none;
    }

    &--icone {
      font-size: 3rem;

    }
  }

  &__search {
    background-color: $header-txt-color;
    padding-bottom: .5rem;
    padding-top: .5rem;

    $this: &;

    &--visib {
      display: none;
    }

    &--col {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
    }

    &--bt {
      font-size: 1.5rem;
    }

    &--input {
      background: #fff;
      color: $header-txt-color;
      height: 2rem;
      width: auto;
    }
  }

  @media only screen and (max-width: 575px) {
    .header__nav {
      align-items: flex-start;
      flex-grow: 0;
      margin-left: .6rem;
      margin-right: 0;
    }

    .header__sea {
      align-items: flex-start;
    }

    .header__sea--margin {
      margin-top: .4rem;
    }

    .header__search--bt {
      font-size: 2.5rem;
    }
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .header__nav {
      align-items: flex-start;
      flex-grow: 0;
      margin-left: .6rem;
      margin-right: 0;
    }

    .header__sea {
      align-items: flex-start;
    }

    .header__sea--margin {
      margin-top: .4rem;
    }

    .header__search--bt {
      font-size: 2.5rem;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header__nav {
      align-items: flex-start;
      flex-grow: 0;
      margin-left: .6rem;
      margin-right: 0;
    }

    .header__sea {
      align-items: flex-start;
    }

    .header__sea--margin {
      margin-top: .4rem;
    }

    .header__search--bt {
      font-size: 2.5rem;
    }
  }
}
