$list-link-color: inherit;

$list-dot-item-before-color: #2f8e84;
$list-dot-link-active-color: #f8d117;

.list {
  line-height: 2rem;
  list-style: none;
  padding-left: 0;

  $this: &;

  &-title {
    font-size: inherit;
    font-weight: inherit;
    opacity: .5;
    text-transform: uppercase;
  }

  &--dot {
    > #{$this}__item {
      &::before {
        color: $list-dot-item-before-color;
        content: '\2022';
        position: absolute;
      }

      > #{$this}__link {
        padding-left: 1rem;

        &.is-active {
          color: $list-dot-link-active-color;
        }
      }
    }
  }

  &--inline {
    > #{$this}__item {
      display: inline-block;

      &:not(:first-child) {
        margin-left: .5rem;
      }

      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }

  // &__item {}

  &__link {
    color: $list-link-color;
  }
}
