$question-id-bg-color: rgba(#000, .1);

.question {
  padding-left: 4.5rem;

  $this: &;

  &__id {
    background-color: $question-id-bg-color;
    border-radius: 1rem;
    font-size: .87rem;
    font-weight: bold;
    line-height: 2rem;
    margin-left: -3rem;
    position: absolute;
    text-align: center;
    width: 2rem;
  }

  &__title {
    font-size: 1rem;
  }

  // &__link {
  //   &:hover {
  //     + #{$this}__arrow {
  //       &::after {
  //         content: '\2191';
  //       }
  //     }
  //   }
  // }

  // &__arrow {
  //   font-size: 1.5rem;
  //   margin-left: -2.5rem;
  //   opacity: .2;
  //   position: absolute;
  //   text-align: center;
  //   width: 1rem;

  //   &::after {
  //     content: '\2193';
  //   }
  // }

  &__answer {
    max-height: 100rem;
    overflow: hidden;
    transition: opacity .6s, max-height .3s;

    &:not(.is-show) {
      max-height: 0;
      opacity: 0;
    }
  }
}
