.blockquote {
  font-weight: bold;
  margin: 0 0 1rem;

  // &__body {}

  &__icon {
    display: inline-flex;
    font-size: 1.5rem;
    line-height: 0;
    vertical-align: middle;

    &:first-child {
      margin-right: .5rem;
    }

    &:last-child {
      margin-left: .5rem;
    }
  }

  &__footer {
    font-size: .75em;
    line-height: 1.5rem;
    margin-top: -1rem;
    opacity: .7;

    &::before {
      content: '\2014 \00A0';
    }
  }
}
