$spec-sub-color: #f8d117;

.spec {
  &__sup {
    color: $spec-sub-color;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: -.01em;
    line-height: 1.5rem;
    margin-left: .1rem;
    white-space: nowrap;
  }

  &__big {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: -.05em;
    line-height: 1;
    text-transform: uppercase;
  }
}

.shortcut {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__media {
    &:not(:first-child) {
      margin-left: 0;
      margin-top: .5rem;
    }

    &:not(:last-child) {
      margin-bottom: .5rem;
      margin-right: 0;
    }
  }

  &__title {
    font-size: .87rem;
    font-weight: bold;
  }
}

.bd {
  border: 2px solid #fff;
}

.push-up {
  margin-top: -5rem;
  position: relative;
  z-index: 1;
}

.push-down {
  margin-top: 5rem;
}

// .diagram {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 1rem;
//   width: 100%;
// }

.iframe {
  &--full {
    height: 100vh;
    width: 100%;
  }
}

// $has-info-after-bg-color: rgba(0, 0, 0, .1);

// .has-info {
//   &::before {
//     background-color: $has-info-after-bg-color;
//     border-radius: 3px;
//     content: attr(data-info);
//     font-size: .75rem;
//     padding: .25rem;
//     position: absolute;
//     top: 0;
//   }
// }

// .badge {
//   bottom: 1.5rem; // FIXME
//   font-size: .62rem;
//   font-weight: bold;
//   left: 50%;
//   line-height: 1rem;
//   opacity: .7;
//   position: absolute;
//   transform: translateX(-50%);
// }

.tx-align {
  font-size: 2rem;
  line-height: 1.5rem;
  vertical-align: bottom;
}

.info {
  display: flex;
  font-size: .94rem;
  font-weight: normal;
  margin-bottom: 1rem;

  &__title {
    flex-grow: 1;
    opacity: .7;
  }

  // &__desc {}
}

$gotop-bg-color: #57c7bb;
$gotop-color: #fff;

.gotop {
  background-color: $gotop-bg-color;
  color: $gotop-color;
  display: inline-flex;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 3.5rem;
  margin-left: .5rem;
  width: 3.5rem;
}

$html-blockquote-bg-color: #efefef;
$html-blockquote-border-color: #f8d117;
$html-list-item-dot-before-color: #f8d117;

.html {
  > blockquote {
    background-color: $html-blockquote-bg-color;
    border-left: 4px solid $html-blockquote-border-color;
    margin-left: 1rem;
    overflow: hidden;
    padding: 1rem 1rem 0 1.5rem;
  }

  > img {
    margin: .5rem -1.5rem 1.5rem;
    width: calc(100% + 3rem);
  }

  > ul {
    line-height: 2rem;
    list-style: none;

    > li {
      &::before {
        color: $html-list-item-dot-before-color;
        content: '\2022';
        font-size: 1.5rem;
        margin-left: -1.5rem;
        margin-top: -1px;
        position: absolute;
      }
    }
  }
}

.meta {
  font-size: .87rem;
  line-height: 2rem;
  margin-top: -.5rem;
  opacity: .7;
  padding-left: 0;

  &__item {
    display: inline-flex;
  }
}
