$btn-color: #fff;

$btn-default-bg-color: transition;
$btn-default-border-color: #3c4049;

$btn-primary-bg-color: #2c546e;

$btn-success-bg-color: #2f8e84;

$btn-warning-bg-color: #f8d117;
$btn-warning-color: #222;

$btn-link-bg-color: transparent;
$btn-link-color: #333;

.btn {
  // align-items: center;
  border-radius: 4px;
  color: $btn-color;
  display: inline-flex;
  font-size: .94rem;
  font-weight: bold;
  justify-content: center;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  padding: .5rem 1.5rem;
  // vertical-align: top;
  width: auto;

  &:not(&--link) {
    text-transform: uppercase;
  }

  + .btn {
    margin-left: .5rem;
  }

  // &--default {
  //   background-color: $btn-default-bg-color;
  //   box-shadow: inset 0 0 0 1px $btn-default-border-color;
  // }

  &--primary {
    background-color: $btn-primary-bg-color;
  }

  &--success {
    background-color: $btn-success-bg-color;
  }

  &--warning {
    background-color: $btn-warning-bg-color;
    color: $btn-warning-color;
  }

  &--link {
    background-color: $btn-link-bg-color;
    color: $btn-link-color;
  }

  // &--fat {
  //   padding-left: 3rem;
  //   padding-right: 3rem;
  // }

  // &--tight {
  //   padding-left: 1rem;
  //   padding-right: 1rem;
  // }

  &--block {
    display: flex;
    width: 100%;
  }

  &--xs {
    padding: 0 .5rem;
  }

  &--sm {
    padding: .25rem .75rem;
  }

  // &--lg {
  //   padding: .75rem 2rem;
  // }

  // &:hover {}

  // > i + span,
  // > span + i {
  //   margin-left: .25rem;
  // }
}
