.tip {
  align-items: center;
  display: inline-flex;
  margin-bottom: 1rem;
  text-align: left;
  vertical-align: bottom;

  &:not(:first-child) {
    margin-left: .5rem;
  }

  &:not(:last-child) {
    margin-right: .5rem;
  }

  &__media {
    margin-bottom: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}
