// Options
$enable-grid-classes: true !default;

//
$root-bg-color: #efefef;
$root-color: #333;

//
$link-color: #2c546e;

//
$form-element-placeholder-color: rgba(#000, .7);

$form-select-invalid-color: rgba(#000, .4);
$form-option-color: #111;

//
$input-btn-bg-color: transparent;
$input-btn-color: inherit;
