// @each $breakpoint in map-keys($grid-breakpoints) {
//   $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

//   @include media-breakpoint-only($breakpoint, $grid-breakpoints) {
//     .hidden#{$infix} {
//       display: none;
//     }
//   }
// }


@media only screen and (max-width: 575px) {
  .hidden-xs {
    display: none;
  }

  .hidden__menu--xs {
    display: none;
  }

  .header__menu--bt:checked ~ .hidden__menu--xs {
    display: block;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hidden-sm {
    display: none;
  }

  .hidden__menu--sm {
    display: none;
  }

  .header__menu--bt:checked ~ .hidden__menu--sm {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none;
  }

  .hidden__menu--md {
    display: none;
  }

  .header__menu--bt:checked ~ .hidden__menu--md {
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .hidden-lg {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .hidden-xl {
    display: none;
  }
}
