@mixin link-active($color: $link-active-color, $active-color: $link-active-active-color) {
  color: $color;

  &.is-active {
    color: $active-color;
  }
}

@mixin line-clamp($size: 1) {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-box-orient: vertical;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: $size;
  overflow: hidden;
}

@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: $asset-pipeline,
  $file-formats: eot woff2 woff ttf svg) {

  $font-url-prefix: font-url-prefixer($asset-pipeline);

  @font-face {
    // font-display: block;
    font-family: $font-family;
    // font-style: $style;
    // font-style: normal;
    font-weight: $weight;
    // font-weight: normal;
    src: font-source-declaration($font-family, $file-path, $asset-pipeline, $file-formats, $font-url-prefix);
    @content;
  }
}
